.radio-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 600px;
  background: transparent;
  backdrop-filter: blur(8px);
}

.radio-card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.radio-card.selected {
  border-color: #3f51b5;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.radio-card h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  color: white;
}

.radio-card p {
  margin: 0;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

input[type='radio'] {
  display: none;
}

input[type='radio']:checked+div {
  color: #3f51b5;
}

.buttonRegister {
  display: block;
  margin: 0 auto;
  padding: 8px 16px;
  background-color: #3f51b5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:disabled {
  background-color: #c5c5c5;
  cursor: not-allowed;
}

.choose {
  // background: url("../.././assets/images/background1.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 50px;

  h2 {
    margin-bottom: 50px;
  }
}

.choosing {
  display: flex;
  justify-content: space-around;
}