.contactInfo {
    text-align: left;
    font-family: 'Poppins', sans-serif;

    h5 {
        font-weight: 600;
        font-size: 1.125rem;
        color: #455a64;
    }

    li {
        display: flex;
        align-items: center;

        svg {
            fill: #1A76D1;
            height: 1rem;
            margin-right: 0.5rem;
        }

        span {
            color: #29ada2;
        }
    }
}

.gear:hover {
    color: #2ca8ff;
    cursor: pointer;
}

.borderless {
    border: none !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    background-color: #51ccce27 !important;
}

.btnTrans {
    background-color: #51ccce21 !important;
    border: transparent !important;
}