.containerFluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // background: linear-gradient(to bottom right,
    //         rgba(252, 203, 144, 1),
    //         rgba(213, 126, 235, 1));


    //background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    //background-image: linear-gradient(to left top, #50b4c4, #50bdb8, #65c5a6, #86c990, #accb7c);
    background-image: linear-gradient(to right bottom, #cfe1b4, #acd8b2, #8aceb6, #69c2bd, #50b4c4);

}

.textarea {

    border-color: transparent;
    outline: none;
    height: 390px;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background-color: #eef8f9;
    background: #e7e9eb;
    color: #202124;
    overflow-wrap: break-word;
    resize: none;



    font-size: 14px;
}



.textarea::-webkit-scrollbar {
    width: 0px;
}



::placeholder {
    color: #202124;
}

.video_row{
    height: 560px;
      
}
.patient_file_container {

    width: 380px;
    height: 561px;
    padding: 20px;
    
    background: #ffffff;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    color: #202124;

}



.userImg img {
    margin-right: 15px;
    width: 40px;
    height: 40px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 50%;


}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;


}

.option_row {
    margin-top: 20px;
     display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;



}

.file_btn {

    background: #e7e9eb;
    border: none !important;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: end;
    color: #202124;

    padding: 5px 5px 5px 5px;
    margin-right: 5px;
    display: block;
    width: 100%;
    margin-bottom: 10px;

}

.file_btn:hover {

    background: #c8cbcd;
    border-radius: 8px;
    cursor: pointer;

}



.userImg img {
    width: 30px;
    height: 30px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin-right: 5px;
}

.card {

    display: flex;

    width: 100%;
    height: fit-content;
    border-radius: 8px;

    margin-bottom: 10px;
    background: #e7e9eb;
    border-radius: m;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    color: #202124;

    & :hover {
        background-color: #c8cbcd;
        border-radius: 8px;
        cursor: pointer;

    }



}




.cardSide {

    width: 10%;
    display: flex;

    flex-direction: column;


    align-items: center;
    padding-top: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}

.cardContent {
    width: 100%;
}



.commentIcon {
    margin-right: 10px;
}



.icon {

    width: 20px;
    height: 20px;
    cursor: pointer;
}

.close_btn{
    background:#ffffff;
    border: none !important;
    display: flex;
    align-items: center;
    justify-content: end;
    
    

}



.cardHeader {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 10px 0px 10px;


}

.cardBody {
    width: 100%;

    padding: 0px 10px 5px 10px;


}

.cardBody .p {
    color: #202124;



}


.cardFooter {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 5px;
    padding-bottom: 5px;


}

.invisibleBtn {
    background: #e7e9eb;
    border: none !important;
    display: flex;
    align-items: center;
    justify-content: end;
    color: #202124;
    border-radius: 8px;
    ;
    padding: 5px 10px 5px 10px;
    margin-right: 5px;
}

.invisibleBtn:hover {

    background: #c8cbcd;
    border-radius: 8px;
    cursor: pointer;

}

.invisibleBtn:focus {

    background: #c8cbcd;
    border-radius: 8px;
    cursor: pointer;

}


//************Modal********//
body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.modalcontent {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

/****************************************  video  ************************************/

.video {
    width: 100%;
    height: 560px;
    background-color: #8aceb6;
    
}

 
.guest_video{
    width: 100%;
    height:  100%;      
    background:#4a4a4a;
 
 

}
.user_video{
     width: 25%;
      height: 25%;
      top:75%;
      left:75% ;     
     position: relative;   
       background:orange;

}