.containerFluid {
    min-height: 100vh;

    display: flex;
   
    align-items: start;
    justify-content: center;
    padding-top: 120px;
    background: rgb(236,236,236);
    background: radial-gradient(circle, rgba(236,236,236,1) 0%, rgba(150,173,186,0.9024859943977591) 100%);
    //background: linear-gradient(to  bottom, #accbee 0%, #e7f0fd 100%);
    //background-image: linear-gradient(to right bottom, #cfe1b4, #acd8b2, #8aceb6, #69c2bd, #50b4c4);

}


.postTextArea {
    text-align: left;
    border-color: transparent;
    outline: none;
    height: 45px;
    width: 100%;
    padding: 10px;
    border-radius: 1em;
    background-color: #eef8f9;
    background: rgba(24, 24, 16, 0.07);
    color: #252525;
    overflow-wrap: break-word;
    resize: none;
    font-size: 14px;


}

.postTextArea:hover {
    background: rgba(24, 24, 16, 0.155);

}
.modalContent{
    display: flex;
    flex-direction: column;
     align-items: start;
     
   
    padding: 10px;
   
}
.select{
    width: 100%;
    margin-bottom: 5px;
}

.communityRow{
    
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
 
}
.input {


    padding-left: 10px;
    border-width: 1px;
   
    border-color: #e0dcdc;
    height: 30px;
    width: 100%;
    border-radius: 3px;
    overflow-wrap: break-word;
    resize: none;
    font-size: 14px;
    margin-bottom: 5px;
     
}

.input:focus {
    border-color: #757373;

  
    outline: 1px;
}

.textarea {

    border-radius: 3px;
    height: 298px;
    width: 100%;
    padding: 10px;
    outline: 1px;
    border-color: #e0dcdc;
    color: #000000;
    overflow-wrap: break-word;
    resize: none;
    font-size: 14px;

    

}

.textarea:focus {
   border-color: #757373;
    outline: 1px;
}




::placeholder {
    color: #383838;
}


.add_post_container {

    width: 100%;
    height: fit-content;
    padding: 10px;

    margin-bottom: 10px;
    



    background: rgba(255,255,255);
    border-radius: 1em;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    color: #252525;

}




.title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
.row {
    display: flex;
    align-items: center;
      
    margin-left: 0px;


}

.suggestions:hover{
    background-color: rgb(192, 192, 192);    
}
.searchDropdown {
    position: absolute;
  
     z-index: 1;
    background-color: rgb(209, 208, 208);    
    width: 100%;
    border-radius: 3px;
    overflow-wrap: break-word;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.301);
     max-height: 230px ;
     overflow-y: auto;

     & p{
        font-size: 12px;
        padding-left: 10px;
        color: #4a4a4a;

     }

     & span {
        font-size: 14px;
        font-weight: 600;
        color: #4a4a4a;
        padding-left: 10px;

     }
  }

.userImg img {
    width: 35px;
    height: 35px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin-right: 10px;
}
.communityCard{
    
    display: flex;
 
    width: 100%;
    height: 400px;
  
    margin-bottom: 5px;
    background: rgba(255,255,255);
    border-radius: 1em;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    color: #252525;

  

}
.cardHeader2{
    padding: 20px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.communityCardBody{
    height:230px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;

}
.communityBtn{
 display: flex;
 justify-content: space-between;
 align-items: center;
    background:transparent;
    border: none !important;
   height: 38px;
   padding-left: 10px;
    color: #252525;
    width: 100%;    
 
   

}
.communityBtn:hover{
    background: rgba(255,255,255);

}


.centercard {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 40px 0px 40px;
    width: 100%;
    height: 322px;    
    margin-bottom: 5px;
    background: rgba(255,255,255);
    border-radius: 1em;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    background-image: url("../../assets/img/interact.png");
    background-size: 250px;
    background-repeat: no-repeat;

    background-position: center;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    color: #252525;



}
.card {

    display: flex;

    width: 100%;
    height: fit-content;
    
    margin-bottom: 5px;
    background: rgba(255,255,255);
    border-radius: 1em;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    color: #252525;



}




.cardSide {

    width: 10%;
    display: flex;

    flex-direction: column;


    align-items: center;
    padding-top: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}

.cardContent {
    width: 100%;
}



.commentIcon {
    margin-right: 10px;
}

.Icon {
    margin-bottom: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    & .upvoteIcon:hover {
        color: #f5593d;

    }



}



.upvoteIcon {

    width: 30px;
    height: 30px;
    color: #252525;

    cursor: pointer;


}



.cardHeader {

    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 10px 10px 0px 0px;
    


}

.cardBody {
    width: 100%;

    padding: 10px 15px 0px 0px;
    & p {
        color: #252525;
       
    }
   


}

 


.cardFooter {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 5px;
    padding-bottom: 5px;


}

.invisibleBtn {
    background: transparent;
    border: none !important;
    display: flex;
    align-items: center;
    justify-content: end;
    color: #252525;

    padding: 10px 10px 10px 10px;
}

.invisibleBtn:hover {

    background: rgba(24, 24, 16, 0.07);
    border-radius: 1em;
    cursor: pointer;

}
.iconBtn {
    background: transparent;
    border: none !important;
    
    color: #252525;
    border-radius: 50%;

    padding: 5px;
    & .icon{
        width: 25px;
        height: 25px;
        color: #252525;

    }

    & .smallicon{
       
        color: #252525;

    }


}
.iconBtn:hover {

    background: rgba(24, 24, 16, 0.07);
    border-radius: 1em;
    cursor: pointer;

}


//************Modal********//
body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.modalcontent {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}