form {
    max-width: 500px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  
  h2 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #333;
  }
  .page{
  margin-top: 10%;
  }
  .form {
    margin-top: 30%;
    height: 100px;
  }
  
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  textarea {
    height: 150px;
  }
  
  button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #0062cc;
  }
  