:root {
    --g1: #2ba9cd;
    --g2: #f33816;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

.animated {
    animation: background-pan 15s linear infinite;
    background: linear-gradient(to right,
            var(--g1),
            var(--g2),
            var(--g1));
    background-size: 200%;
    height: 100wh;
    overflow: hidden;
    margin: 0px;
}



.animated.toggled>.title {
    opacity: 0;
}

.animated.toggled>.title2 {
    opacity: 1;
}

.animated.toggled>.icon {
    opacity: 1;
}

.animated.toggled>.tiles>.tile:hover {
    opacity: 0.1 !important;
}

.centered {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.tiles {
    height: calc(100vh - 1px);
    width: calc(100vw - 1px);
    position: relative;
    z-index: 2;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
    cursor: pointer;
    position: relative;

}

.tile:hover:before {
    background-color: rgb(30, 30, 30);
    opacity: 0.95;
}

.tile:before {
    background-color: #0b1011;
    content: "";
    inset: 0.5px;
    position: absolute;
    transition: background-color 0.3s;
}

.title,
.title2 {
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 6vw;
    margin: 0px;
    pointer-events: none;
    transition: opacity 1200ms ease;
    width: 50vw;
    z-index: 3;
}

.title2 {
    opacity: 0;
}

.title>.fancy {
    color: var(--g2);
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    line-height: 0.9em;
}

.icon {
    color: rgba(255, 255, 255, 0.15);
    font-size: 80vmin;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1200ms ease;
    z-index: 1;
}