.c {
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.i {
    width: 11.7rem !important;
    height: 11.7rem !important;
    border-radius: 50% !important;
    margin: 0 auto !important;

    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

h5 {
    font-weight: 700;
    font-size: 1.5em;
}